* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
}



main {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    background-color: transparent;
    height: 40em;
}



/* ---------------------------------------------------------------------------------------------- */

.lista {
    width: 50%;
    margin-left: 1em;
    margin-top: 4em;
    padding: 1em;
    justify-self: left;
    border: solid 1px lightgray;
    border-radius: 5px;
    height: 105%;
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: #5C8EF2 #eaebeb;
}


.title {
    width: 80%;
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
}

.item {
    padding: 1em;
    border: solid 1px lightgray;
    margin-top: 2em;
    border-radius: 15px;
    font-size: 20px;
}


.lista::-webkit-scrollbar {
    width: 16px;
}

.lista::-webkit-scrollbar-track {
    background: #eaebeb;
}

.lista::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgb(2, 17, 30);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent);
}

/* ---------------------------------------------------------------------------------------------- */

.right {
    width: 60%;
    margin-top: 4em;
    margin-left: 5em;
    height: 100%;
}

.buttons {
    width: 60%;
    display: flex;
}

.buttons button {
    padding: 1em;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px 10px 0 0;
    width: 50%;
}

#selecionado {
    background-color: black;
    color: white;
}

#nao_selecionado {
    opacity: 0.2;
    -webkit-transition: 0.5s;
}

#nao_selecionado:hover {
    opacity: 1;
    background-color: white;
}


.add_componente {
    padding: 2em;
    /* border-radius: 0 5px 5px 5px; */
    width: 100%;
    background-color: black;
    color: white;
    height: 90%;
}

.fas {
    color: white;
    font-size: 2em;
    margin-right: .3em;
}

.line {
    margin-top: 3em;
    text-align: center;
}

.transição {
    letter-spacing: .2rem;
    margin-left: 2em;
    padding: .8em;
    border: 2px solid black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
    width: 50%;
    font-weight: 600;
    font-size: 18px;
}

.transição:focus {
    border: 2px solid #4169E1;
    background-color: #F8F8F8;
    color: black;
}


#enviar {
    background: linear-gradient(#000000c4, #000000c4) padding-box, linear-gradient(45deg, #6495ED, #4169E1) border-box;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    border: 3px solid transparent;
    padding: .4em;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    -webkit-transition: 0.9s;
    width: 27%;
    margin-top: 3em;
}


#enviar:hover {
    -webkit-transition: 0.9s;
    color: #000000c4;
    border: 3px solid #000000c4;
    background: linear-gradient(white, white) padding-box, linear-gradient(45deg, #6495ED, #4169E1) border-box;
    background-image: linear-gradient(45deg, #6495ED, #4169E1);
}

#excluir {
    margin-left: 1em;
    background: linear-gradient(#000000c4, #000000c4) padding-box, linear-gradient(45deg, #ed6464, #e14141) border-box;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    border: 3px solid transparent;
    padding: .4em;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    -webkit-transition: 0.9s;
    width: 27%;
    margin-top: 3em;
}


#excluir:hover {
    color: #000000c4;
    -webkit-transition: 0.9s;
    background: linear-gradient(white, white) padding-box, linear-gradient(45deg, #ed6464, #e14141) border-box;
    background-image: linear-gradient(45deg, #ed6464, #e14141);
}




/* ---------------------------------------------------------------------------------------------- */

.item .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(43, 43, 43, 0.952);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;
    align-items: center;
    float: right;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}


.item:hover .tooltiptext {
    margin-left: 1em;
    margin-top: -2.8em;
    visibility: visible;
}




@media (max-width: 1400px) {

    main {
        height: 25em;
    }

    .title {
        width: 80%;
        font-size: 25px;
    }

    .add_componente .title {
        margin-top: 0.2em !important;
        font-size: 27px !important;

    } 

    .title .fas {
        font-size: 1em !important;
    }


    .transição {
        font-size: 15px;
    }

    .line {
        margin-top: 2em;
    }

    #enviar {
        margin-top: 0.3em;
        font-size: 16px;
    }
    #excluir {
        margin-top: 1em;
        font-size: 16px;
    }

    .item {
        font-size: 15px;
    }

    .item .tooltiptext
    {
        font-size: 10px;
    }

    .lista
    {
        height: 110%;
    }

    .buttons button{
       font-size: 15px;
    }
}