* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
}



main {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    background-color: transparent;
    height: 40em;
}



/* ---------------------------------------------------------------------------------------------- */

.lista {
    width: 50%;
    margin-left: 1em;
    margin-top: 4em;
    padding: 1em;
    justify-self: left;
    border: solid 1px lightgray;
    border-radius: 5px;
    height: 107%;
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: #5C8EF2 #eaebeb;
}


.title {
    width: 80%;
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
}

.item {
    padding: 1em;
    border: solid 1px lightgray;
    margin-top: 2em;
    border-radius: 15px;
    font-size: 20px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.selected {
    border: solid 2px lightblue;
    
}



.item .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(43, 43, 43, 0.952);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;
    align-items: center;
    float: right;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}


.item:hover .tooltiptext {
    margin-left: 1em;
    margin-top: -2.8em;
    visibility: visible;
}





.lista::-webkit-scrollbar {
    width: 16px;
}

.lista::-webkit-scrollbar-track {
    background: #eaebeb;
}

.lista::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgb(2, 17, 30);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent);
}



/* ---------------------------------------------------------------------------------------------- */


.right {
    width: 60%;
    margin-top: 4em;
    margin-left: 5em;
    height: 100%;
}

.buttons {
    width: 60%;
    display: flex;
}

.buttons button {
    padding: 1em;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px 10px 0 0;
    width: 50%;
}

#selecionado {
    background-color: black;
    color: white;
}

#nao_selecionado {
    opacity: 0.2;
    -webkit-transition: 0.5s;
}

#nao_selecionado:hover {
    opacity: 1;
    background-color: white;
}

/* ---------------------------------------------------------------------------------------------- */

.tds_relatorios {
    color: black;
    background-color: white;
    padding: 2em;
    border: 5px solid black;
    border-radius: 0 5px 5px 5px;
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: #5C8EF2 #eaebeb;
}

#retorno_relatorio {
    margin-top: .8em;
    padding: .8em;
    border: 1px solid lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
    width: auto;
    font-size: 15px;
    font-weight: 600;
}

.tds_relatorios::-webkit-scrollbar {
    width: 16px;
}

.tds_relatorios::-webkit-scrollbar-track {
    background: #eaebeb;
}

.tds_relatorios::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgb(2, 17, 30);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent);
}




/* ---------------------------------------------------------------------------------------------- */
.relatorio {
    display: flex;
    border: solid 2px;
    border-radius: 15px;
    padding: 1em;
    justify-content: space-between;
    margin-top: 2em;
    font-size: 20px;
    background-color: #000000c4;
    color: white;
}

#Grave {
    border-color: crimson;
}

#Médio {
    border-color: #e2c939;
}

#Simples {
    border-color: #5fbfff;
}







/* ------------------------ */
.esquerda_relatorio {
    display: flex;
    align-items: center;
    float: left;
    width: 36%;    
}
.finalizado
{
    display: flex;
    align-items: center;
}

.finalizado i
{
    font-size: 30px;
    margin-right: .3em;
    padding: .3em;
}

.pendente
{
    display: flex;
    align-items: center;
}


.adm{
    margin-right: .3em;
    padding: .3em;
    color: rgb(197, 38, 38);
    font-size: 30px;

}

.adm:hover {
    color: rgb(12, 211, 12);
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

#concluir{
    margin-right: .3em;
    padding: .3em;
    color: rgb(197, 38, 38);
    font-size: 30px;

}



[data-tooltip] {
    --arrow-size: 2px;
    position: relative;
    z-index: 10;
}


[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + var(--arrow-size));
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
}

[data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 10px 18px;
    min-width: 50px;
    max-width: 300px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 6px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    transform: translate(-50%, calc(0px - var(--arrow-size))) scale(0.5);
}


[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

[data-tooltip]:hover:before {
    transition-delay: 0.3s;
    transform: translate(-50%, calc(0px - var(--arrow-size))) scale(1);
}







/* ------------------------ */

.meio_relatorio
{
    font-size: 15px;
    opacity: .5;
    width: 30%;
    text-align: center;
    align-items: center;
}








/* ------------------------ */

.direita_relatorio {
    display: flex;
    align-items: center;
    float: right;
    justify-content: end;
    width: 30%;
}

#Grave .circle {
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    padding: .6em;
    margin-left: 1em;
    box-shadow: inset 0 0 0.5em 0 crimson, 0 0 0.5em 0 crimson;

}

#Médio .circle {
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    padding: .6em;
    margin-left: 1em;
    box-shadow: inset 0 0 0.5em 0 #e2c939, 0 0 0.5em 0 #f0dc6f;
}

#Simples .circle {
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    padding: .6em;
    margin-left: 1em;
    box-shadow: inset 0 0 0.5em 0 #5fbfff, 0 0 0.5em 0#5fbfff;
}





