:root {
    --desk: 170px;
    --pc: 130px
        /* --desk-frente: calc(var(--desk) + 30px) */
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Segoe UI";
}

/*  Header */


h1 {
    margin: 0;
    padding: 0;
}

.room-title {
    margin-top: 50px;
    padding: 5px 0;
    border: 3px solid lightgray;
    width: 1100px;
    margin-right: auto;
    margin-left: auto;

    border-radius: 10px;
}


.sala {
    display: inline-block;
    /* margin-top: 50px; */
    border: 1px solid lightgray;
    padding: 1rem 5rem;
    border-radius: 0px 0 7px 7px;
    border-width: 0 1px 1px 1px;
}


.frente {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.frente .mesa-frente {
    width: 220px
}

.frente .cadeado {
    width: 75px;
    height: 75px;
    margin-right: 50px;
    border-radius: 50px;
    border: 1px solid lightgray;
    background-color: rgb(255, 247, 238);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.cadeado:hover {
    transform: scale(1.2);
}

#img_user
{
    width: 5em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#img_user:hover {
    transform: scale(1.2);
}

.mesas {
    display: flex;
    /* margin: 0 auto; */
}

.esquerdo {
    margin-right: 200px;
}

section {
    display: flex;
    flex-direction: column;
}

.mesa {
    display: flex;
}

.mesa img {
    margin: 0;
    padding: 0;
    width: var(--desk)
}

.mesa .pc {
    position: absolute;
    width: var(--pc);
    cursor: pointer;
}

.mesa-direita .pc {
    margin-left: 32px;
    margin-right: 0
}

.add-btn {
    position: absolute;
    font-size: 30px;
    color: rgba(95, 206, 95, 0.5);
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.add-btn:hover {
    transform: scale(1.3);
}

.mesa-esquerda .add-btn {
    margin-top: 15px;
    margin-left: 55px;
}

.mesa-direita .add-btn {
    margin-top: 15px;
    margin-left: 82px;
}

@media (max-width: 1400px) {
    :root {
        --desk: 150px;
        --pc: calc(var(--desk) - 30px)
    }

    .frente img {
        width: 160px;

    }

    .mesa-direita .pc {
        margin-left: 25px;
    }
}