:root {
    --desk: 170px;
    --pc: 130px
        /* --desk-frente: calc(var(--desk) + 30px) */
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Segoe UI";
}

/* <!----------------------------------------------------------------------------------------------> */

h1 {
    margin: 0;
    padding: 0;
}

.room-title {
    margin-top: 50px;
    padding: 5px 0;
    border: 3px solid lightgray;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}


/* <!----------------------------------------------------------------------------------------------> */
.sala {
    display: inline-block;
    /* margin-top: 50px; */
    border: 1px solid lightgray;
    padding: 1rem 5rem;
    border-radius: 0px 0 7px 7px;
    border-width: 0 1px 1px 1px;
    height: auto;
}

.frente {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.frente .mesa-frente {
    width: 220px
}

.frente .cadeado {
    width: 75px;
    height: 75px;
    margin-right: 50px;
    border-radius: 50px;
    border: 1px solid lightgray;
    background-color: rgb(255, 247, 238);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.cadeado:hover {
    transform: scale(1.2);
}

#img_user
{
    width: 4.5em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#img_user:hover {
    transform: scale(1.2);
}

/* --  Mesas -- */
.mesas {
    display: flex;

}

.esquerdo {
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 200px;
    display: flex;
}


.mesa {
    display: flex;
    width: min-content;
}

.mesa img {
    margin: 0;
    padding: 0;
    width: var(--desk)
}

.mesa .pc {
    position: absolute;
    width: var(--pc);
    cursor: pointer;
}

.mesa-esquerda .pc {
    margin-left: 5px;
    margin-right: 0
}

.mesa-direita .pc {
    margin-left: 32px;
    margin-right: 0
}

.add-btn {
    position: absolute;
    font-size: 30px;
    color: rgba(95, 206, 95, 0.5);
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.add-btn:hover {
    transform: scale(1.3);
}

.mesa-esquerda .add-btn {
    margin-top: 15px;
    margin-left: 55px;
}

.mesa-direita .add-btn {
    margin-top: 15px;
    margin-left: 82px;
}

.mesa-frente .pc-frente {
    margin-left: 15px;
    margin-top: 70px;
    transform: rotate(180deg);
}

.mesa-frente .add-btn {
    margin-left: 80px;
    margin-top: 80px;
}


/* <!----------------------------------------------------------------------------------------------> */
@media (max-width: 1400px) {
    :root {
        --desk: 7em;
        --pc: calc(var(--desk) - 30px)
    }


    .room-title {
        width: 70%;
        font-size: 23px;
        margin-top: 25px;
    }

    .frente .mesa-frente {
        width: 140px
    }

    #img_user
    {
        width: 3.5em;
    }

    .frente .cadeado {
        width: 3.5em;
        height: 3.5em;
    }

    .mesa-direita .pc {
        margin-left: 25px;
    }

    .add-btn
    {
        font-size: 25px;
    }

    .mesa-esquerda .add-btn {
        margin-top: 6px;
        margin-left: 34px;
    }
    
    .mesa-direita .add-btn {
        margin-top: 6px;
        margin-left: 53px;
    }

    .mesa-frente .pc-frente {
        margin-top: 45px;
    }

    .mesa-frente .add-btn {
        margin-left: 50px;
        margin-top: 48px;
    }
    
}