* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
}

main {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    height: 40em;
}

.title {
    font-size: 35px;
    margin-bottom: 1em;
    text-align: center;
}

/* ----------------------------------------------------------------------- */
.lista {
    margin-top: 5em;
    width: 40%;
    padding: 2em;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 105%;
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: #5C8EF2 #eaebeb;
}

.lista::-webkit-scrollbar {
    width: 16px;
}

.lista::-webkit-scrollbar-track {
    background: #eaebeb;
}

.lista::-webkit-scrollbar-thumb {
    background-color: #111B35;
    border-radius: 12px;
    border: 2px outset #111B35;
}


.item {
    display: flex;
    padding: 2em;
    border: solid 1px lightgray;
    margin-top: 2em;
    border-radius: 15px;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}


.info1 span {

    font-size: 15px;
}

.item .info2 {
    font-size: 15px;
}



/* ----------------------------------------------------------------------- */


.cadastrar {
    background-color: black;
    padding: 2em;
    border: 1px solid lightgray;
    margin-top: 5em;
    width: 38%;
    color: white;
    border-radius: 25px;
    height: 105%;
}



.cadastrar form {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#first {
    margin-top: 5em;
}

.cadastrar .transition {
    letter-spacing: .2rem;
    margin-left: 2em;
    padding: 1.2em;
    border: 2px solid black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
    width: 35%;
    font-weight: 600;
    font-size: 18px;
    color: #555;
    margin-bottom: 2em;
}

.cadastrar .transition:focus {
    border: 2px solid #4169E1;
    background-color: #F8F8F8;
    color: black;
}


.cadastrar button[type="submit"] {
    background: linear-gradient(#000000c4, #000000c4) padding-box, linear-gradient(45deg, #6495ED, #4169E1) border-box;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    border: 2px solid transparent;
    padding: .6em;
    margin-left: 1em;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    width: 30%;
    color: white;
    margin-bottom: 1em;
    margin-top: 2em;
}


.cadastrar button[type="submit"]:hover {
    color: #000000c4;
    -webkit-transition: 0.9s;
    background: linear-gradient(white, white) padding-box, linear-gradient(45deg, #6495ED, #4169E1) border-box;
    background-image: linear-gradient(45deg, #6495ED, #4169E1);
}

#excluir {
    background: linear-gradient(#000000c4, #000000c4) padding-box, linear-gradient(45deg, #ed6464, #e14141) border-box;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    border: 2px solid transparent;
    padding: .6em;
    margin-left: 1em;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    width: 30%;
    color: white;
    margin-top: 2em;
    margin-bottom: 1em;
}


#excluir:hover {
    color: #000000c4;
    -webkit-transition: 0.9s;
    background: linear-gradient(white, white) padding-box, linear-gradient(45deg, #ed6464, #e14141) border-box;
    background-image: linear-gradient(45deg, #ed6464, #e14141);
}



@media (max-width: 1400px) {

    main {
        height: 25em;
    }

    .lista {
        margin-top: 3em;
    }

    .lista .title {
        font-size: 25px;
    }

    .item {
        font-size: 15px;
    }


    .cadastrar {
        height: 105%;
        margin-top: 3em;
    }

    .cadastrar .title {
        font-size: 20px;
        margin-bottom: 1em;
    }

    .cadastrar i {
        font-size: 2em !important;
    }

    .cadastrar .transition {
        font-size: 12px;
    }


    .cadastrar .item {
        font-size: 13px !important;
        padding: 1em !important;
        justify-content: center !important;
    }


    #first {
        margin-top: 3em;
    }


    #line {
        margin-top: 1em !important;
    }

    .cadastrar button[type="submit"] {
        margin-left: .8em;
        font-size: 15px;
        margin-top: 1em;
    }

}