header {
    background-color: black;
    color: white;
    height: 70px;
    text-align: start;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.Loading-progress {
    height: 5px;
    width: 100vw;
    border-radius: 3px;
    background: linear-gradient(90deg, red 0%, yellow 15%, lime 30%, cyan 50%, blue 65%, magenta 80%, red 100%);
    background-size: 200%;
    animation: moveGradient 5s linear infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -200% 0%;
    }
}

a {
    text-decoration: none;
    color: white;
}



@media (max-width: 1400px) {
    header
    {
        font-size: 12px;
        height: 50px;
    }
}