* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI";
}


main {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    background-color: transparent;
    height: 40em;
}

.title {

    width: 80%;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}



/* ----------------------------------------------------------------------- */

.lista {
    width: 50%;
    margin-left: 1em;
    margin-top: 5em !important;
    padding: 1em;
    justify-self: left;
    border: solid 1px lightgray;
    border-radius: 5px;
    height: 105%;
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: #5C8EF2 #eaebeb;
}

.item {
    padding: 1em;
    border: solid 1px lightgray;
    margin-top: 2em;
    border-radius: 15px;
    font-size: 20px;
}

.selected {
    border: solid 2px lightblue;
}


.item .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(43, 43, 43, 0.952);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 12px;
    align-items: center;
    float: right;
    -webkit-transition: 0.2s;
    transition: 0.2s;

}


.item:hover .tooltiptext {
    margin-left: 1em;
    margin-top: -.8em;
    visibility: visible;
}


.lista::-webkit-scrollbar {
    width: 16px;
}

.lista::-webkit-scrollbar-track {
    background: #eaebeb;
}

.lista::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgb(2, 17, 30);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent);
}



/* ----------------------------------------------------------------------- */
.right {
    width: 80%;
    height: 100%;
    margin-top: 5em !important;
    margin-left: 5em;
}


.add_relatorio {
    padding: 2em;
    border: solid 1px lightgray;
    border-radius: 5px;
    width: 100%;
    background-color: black;
    color: white;
    height: 54%;
}

.line {
    margin-top: 1em;
    text-align: center;
}


.transição {
    letter-spacing: .2rem;
    margin-left: 2em;
    padding: .8em;
    border: 2px solid black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
    width: 35%;
    font-weight: 600;
    font-size: 15px;
}

.transição:focus {
    border: 2px solid #4169E1;
    background-color: #F8F8F8;
    color: black;
}


textarea {
    letter-spacing: .2rem;
    margin-left: 2em;
    height: 80px;
    width: 77%;
    padding: .8em;
    border: 2px solid black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
    resize: none;
    font-weight: 600;
}


textarea:focus {
    border: 2px solid #4169E1;
    background-color: #F8F8F8;
    color: black;
}

#enviar {
    background: linear-gradient(#000000c4, #000000c4) padding-box, linear-gradient(45deg, #6495ED, #4169E1) border-box;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    border: 3px solid transparent;
    padding: .4em;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    -webkit-transition: 0.9s;
    width: 27%;
}


#enviar:hover {
    -webkit-transition: 0.9s;
    color: #000000c4;
    border: 3px solid #000000c4;
    background: linear-gradient(white, white) padding-box, linear-gradient(45deg, #6495ED, #4169E1) border-box;
    background-image: linear-gradient(45deg, #6495ED, #4169E1);
}




/* ----------------------------------------------------------------------- */
.tds_relatorios {
    margin-top: 1em;
    padding: 2em;
    border: solid 1px lightgray;
    border-radius: 5px;
    width: 100%;
    height: 34%;
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: #5C8EF2 #eaebeb;
}


.tds_relatorios::-webkit-scrollbar {
    width: 16px;
}

.tds_relatorios::-webkit-scrollbar-track {
    background: #eaebeb;
}

.tds_relatorios::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgb(2, 17, 30);	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent);
}


.relatorio {
    display: flex;
    border: solid 2px;
    border-radius: 15px;
    padding: 1em;
    justify-content: space-between;
    margin-top: 2em;
    font-size: 20px;
    background-color: #000000c4;
    color: white;
}


.direita_relatorio {
    display: flex;
    align-items: center;
    float: right;
    justify-content: end;
    width: 30%;
}

.finalizado
{
    display: flex;
    align-items: center;
}

.finalizado i
{
    font-size: 30px;
    margin-right: .3em;
    padding: .3em;
}

.pendente
{
    display: flex;
    align-items: center;
}

.esquerda_relatorio {
    display: flex;
    align-items: center;
    float: left;
    width: 36%;    
}


.meio_relatorio
{
    font-size: 15px;
    opacity: .5;
    width: 30%;
    text-align: center;
    align-items: center;
}


.adm{
    margin-right: .3em;
    padding: .3em;
    color:white;
    font-size: 30px;
}


#concluir{
    margin-right: .3em;
    padding: .3em;
    color: rgb(197, 38, 38);
    font-size: 30px;

}


#retorno_relatorio {
    margin-top: .8em;
    padding: .8em;
    border: 1px solid lightgray;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;
    width: auto;
    font-size: 15px;
    font-weight: 600;
}

.relatorios {
    margin-top: 1em;
    padding: 1em;
    border: solid 1px lightgray;
    border-radius: 5px;
    width: 100%;
    box-shadow: rgba(13, 7, 20, 0.2) 0 15px 30px -5px;
}



/* ----------------------------------------------------------------------- */


#Grave {
    border-color: crimson;
}

#Médio {
    border-color: #e2c939;
}

#Simples {
    border-color: #5fbfff;
}

#Grave .circle {
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    padding: .6em;
    margin-left: 1em;
    box-shadow: inset 0 0 0.5em 0 crimson, 0 0 0.5em 0 crimson;

}

#Médio .circle {
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    padding: .6em;
    margin-left: 1em;
    box-shadow: inset 0 0 0.5em 0 #e2c939, 0 0 0.5em 0 #f0dc6f;
}

#Simples .circle {
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    padding: .6em;
    margin-left: 1em;
    box-shadow: inset 0 0 0.5em 0 #5fbfff, 0 0 0.5em 0#5fbfff;
}




@media (max-width: 1400px) {

    .title {
        font-size: 25px;
    }

    .item .tooltiptext
    {
        font-size: 10px;
    }

    .right {
        margin-top: 2em !important;
    }

    .add_relatorio {
        height: 42%;
        padding: 1.5em !important;
    }

    .add_relatorio select
    {
        width: 37% !important;
    }

    .transição {
        width: 34%;
        font-size: 10px;
    }

    textarea {
        font-size: 10px;
        height: 60px;
        width: 75%;
    }


    #enviar {
        font-size: 15px;
        margin-top: -1em;
    }

    .lista {
        margin-top: 2em !important;
        height: 89%;
    }

    .lista .title {
        font-size: 20px;
    }

    .item {
        font-size: 18px;
    }

    .tds_relatorios
    {
        padding: 1.5em;
    }

    .tds_relatorios .title {
        font-size: 20px;
    }

    .tds_relatorios i {
        font-size: 1.5em !important;
    }


    #retorno_relatorio {
        font-size: 12px !important;
    }

    .relatorio {
        font-size: 15px;
        padding: .5em;
    }

    .relatorio i {
        font-size: 1em !important;
    }


    .meio_relatorio
    {
        font-size: 10px;
    }
}