<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/add_componente.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Adicionar Componente</title>
</head>

<body>
    <header>
        <a href="Computadores.html">
            <h1>SD Maintenance Log</h1>
        </a>
        <div class="links">
            <a href="controle_sala.html">Sala</a>
        </div>
    </header>
    <div class="Loading">
        <div class="Loading-progress"></div>
    </div>


    <!---------------------------------------------------------------------------------------------->
    <main>
        <div class="lista">
            <h3 class="title">
                COMPONENTES DO DISPOSITIVO: <br> CTPC3525
            </h3>

            <div class="item">
                Mouse
                <span class="tooltiptext">
                    <b>Marca:</b> HP
                    <br>
                    <b>Modelo: </b>Sla
                </span>
            </div>
            <div class="item">
                Teclado
                <span class="tooltiptext">
                    <b>Marca:</b> HP
                    <br>
                    <b>Modelo: </b>SK-2120
                </span>
            </div>
            <div class="item">
                Monitor1
                <span class="tooltiptext">
                    <b>Marca:</b> Sansung
                    <br>
                    <b>Modelo: </b>Sla
                </span>
            </div>
            <div class="item">
                Monitor2
                <span class="tooltiptext">
                    <b>Marca:</b> Sansung
                    <br>
                    <b>Modelo: </b>Sla
                </span>
            </div>
        </div>

        <!---------------------------------------------------------------------------------------------->

        <div class="right">

            <!-- CADASTRAR COMPONENTE -->
            <div class="add_componente">
                <div class="title" style="margin-top: 1em;">
                    <h3 class="title">
                        <i class="fas" style="color: white; font-size: 2em; margin-right: .3em;"></i>
                        Cadastar Componente
                    </h3>
                </div>

                <form action="" method="post">
                    <div class="line">
                        <input type="text" class="transição" placeholder="Nome :" required="required" minlength="6">
                    </div>

                    <div class="line">
                        <input type="text" class="transição" placeholder="Marca :" required="required" minlength="2">
                    </div>
                    <div class="line">
                        <input type="text" class="transição" placeholder="Modelo :" required="required" minlength="2">
                    </div>

                    <div class="line" style="margin-top: .5em; margin-bottom: 1em;">
                        <button type="submit" value="Cadastrar" id="enviar">Cadastrar</button>
                    </div>

                </form>

            </div>




            <!-- EDITAR COMPONENTE -->
            <!-- <div class="add_componente">
                <div class="title" style="margin-top: 1em;">
                    <h3 class="title">
                        <i class="fas" style="color: white; font-size: 2em; margin-right: .3em;"></i>
                        Editar Componente
                    </h3>
                </div>


                <form action="" method="post">
                    <div class="line">
                        <input type="text" class="transição" placeholder="Nome :" required="required" minlength="6">
                    </div>

                    <div class="line">
                        <input type="text" class="transição" placeholder="Marca :" required="required" minlength="2">
                    </div>
                    <div class="line">
                        <input type="text" class="transição" placeholder="Modelo :" required="required" minlength="2">
                    </div>

                    <div class="line" style="margin-top: .5em; margin-bottom: 1em;">
                        <button type="submit" value="Cadastrar"  id="enviar">Editar</button>
                        <button type="submit" value="Cadastrar" id="excluir">Excluir</button>
                    </div>

                </form>

            </div> -->

        </div>
    </main>
</body>
</html>