<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SD Maintenance Log</title>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS -->
    <link rel="stylesheet" href="css/computadores.css" />
    <link rel="stylesheet" href="css/header.css" />
</head>

<body>
    <header>
        <a href="/">
            <h1>SD Maintenance Log</h1>
        </a>
    </header>
    <div class="Loading">
        <div class="Loading-progress"></div>
    </div>

    <h1 class="room-title">Sala Digital</h1>
    <div class="sala">
        <div class="frente">
            <div>
                <img class="mesa-frente" src="img/computadores/mesa-frente.png" alt="" />
            </div>
            <a href="/login"><img class="cadeado" src="img/cadeado.png" /></a>
        </div>

        <div class="mesas">
            <section class="esquerdo">
                <% for(var i=0; i < 20; i+=2) { %>
                    <div class="mesa">
                        <div class="desk mesa-esquerda">
                            <% if(posicoes[i] && i < posicoes.length) { %>
                                <a href="/relatorio/<%=i+1%>"><img class="pc" src="img/computadores/pc.png"></a>
                            <% } %>
                            <img src="img/computadores/mesa-esquerda.png" />
                        </div>
                        <div class="desk mesa-direita">
                            <% if(posicoes[i + 1] && (i + 1) < posicoes.length) { %>
                                <a href="/relatorio/<%=i+2%>"><img class="pc" src="img/computadores/pc.png"></a>
                            <% } %>             
                            <img src="img/computadores/mesa-direita.png" />      
                        </div>
                    </div>
                    <% } %>
            </section>
        </div>
    </div>
</body>

</html>