<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/error.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>ERROR</title>
</head>

<body">
<header>
    <div class="dir">
        <img src="../img/big_icon.png">
        <a href="/">
            <h1>SD Maintenance Log</h1>
        </a>
    </div>

</header>
<div class="Loading">
    <div class="Loading-progress"></div>
</div>


    <!--------------------------------------------------------------------------->

    <div class="container">
        <div class="right">
            <div class="image">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="error">
                USUÁRIO INVÁLIDO
            </div>
        </div>
    </div>



</body>

</html>