<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/relatorio.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Relatorio</title>
</head>

<body>

    <header>
        <a href="/">
            <h1>SD Maintenance Log</h1>
        </a>
    </header>
    <div class="Loading">
        <div class="Loading-progress"></div>
    </div>



    <h1 style="text-align: center; margin-top: 4rem;">
        DISPOSITIVO:
        <%= computador.Nome %>
    </h1>
    <main>
        <div class="lista">
            <h3 class="title">
                PERIFÉRICOS DO DISPOSITIVO
            </h3>

            <!-- <div class="item">
                Mouse
            </div>

            <div class="item">
                Teclado
            </div>

            <div class="item">
                Monitor1
            </div>
            <div class="item">
                Monitor2
            </div> -->
        </div>


        <div class="right">

            <div class="tds_relatorios">
                <h4 class="title">
                    Relatórios deste Computador
                </h4>

                <form action="" method="">
                    <select id="retorno_relatorio">
                        <option value="Todos" selected>Todos</option>
                        <option value="Pendentes">Pendentes</option>
                        <option value="Resolvidos">Resolvidos</option>
                    </select>
                </form>

                <div class="relatorio" id="Médio">
                    <div class="esquerda_relatorio">
                        <i class="fas fa-clipboard-check" id="concluir"><span class="tooltiptext">Marcar como concluido</span></i>
                        <h5 class="nome">Monitor Piscando</h5>
                    </div>
                    
                    <div class="direita_relatorio">
                        <span style=" margin-right: 1em; font-size: 15px;">Monitor</span>
                        <div class="circle"> <span class="tooltiptext">Data: 25/01/2023 <br> Usuário: 92900544</span>
                        </div>
                    </div>

                </div>

                <div class="relatorio" id="Grave">
                    <h5 class="nome">Scroll do mouse com problema</h5>
                    <div class="direita_relatorio">
                        <span style=" margin-right: 1em; font-size: 15px;"> Mouse</span>
                        <div class="circle"><span class="tooltiptext">Data: 25/01/2023 <br> Usuário: 92900544</span>
                        </div>
                    </div>
                </div>

                <div class="relatorio" id="Simples">
                    <h5 class="nome">Tecla space falha</h5>
                    <div class="direita_relatorio">
                        <span style=" margin-right: 1em; font-size: 15px;">Teclado</span>
                        <div class="circle"><span class="tooltiptext">Data: 25/01/2023 <br> Usuário: 92900544</span>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </main>

</body>

</html>